.DS_Store
build*
source/local/*.cpp
source/local/*.scd
source/local/*.sc
source/local/*.schelp
source/local/*.html
*.patch

*~
*.orig


CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
cmake_uninstall.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
