name: jekyll
on:
  # push: # for testing this action
  pull_request:
    paths:
      - '_data/**'
      - '.bundle/**'
      - 'assets/**'
      - 'index.*'
      - '_config.yml'
      - 'Gemfile*'
      - 'README.md'

jobs:
  build:
    runs-on: ubuntu-20.04
    name: 'jekyll build'
    env:
      # use BUNDLE_ env vars to set 'bundle config' options
      # needs to be set for all steps
      BUNDLE_FORCE_RUBY_PLATFORM: 'true' #  avoid platform mismatch for nokogiri
    steps:
    - name: checkout sc3-plugins
      uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: setup ruby and build
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.3
        bundler: 'Gemfile.lock'
        bundler-cache: true # this will run bundle install

